@import './base.css';

body{
  padding: 31px 24px 79px 24px;
  background-color: #f6f8ff;
  font-family: Space Mono;
}






@media (min-width: 1024px) {
  body {
    padding-top: 144px;
    padding-right: 300px;
    padding-left:300px;
    font-family: Space Mono;
  }

  
} 
